{
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": ["prettier"],
    "extends": ["airbnb", "prettier", "prettier/react"],
    "rules": {
        "prettier/prettier": ["error"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prop-types": 0,
        "react/prefer-stateless-function": 0,
        "no-unused-vars": ["warn", { "vars": "all", "args": "none", "ignoreRestSiblings": false }]
    }
}
